#Home brew
alias bu="brew update && brew upgrade && brew cleanup && brew cask cleanup"
alias cask="brew cask"

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en1"
alias ips="ifconfig -a | grep -o 'inet6\? \(\([0-9]\+\.[0-9]\+\.[0-9]\+\.[0-9]\+\)\|[a-fA-F0-9:]\+\)' | sed -e 's/inet6* //'"
alias ws="python -m SimpleHTTPServer"

# GRC
alias ls="gls -F --color"
alias l="gls -lAh --color"
alias ll="gls -l --color"
alias la='gls -A --color'
alias colourify="grc -es --colour=auto"
alias configure='colourify ./configure'
alias diff='colourify diff'
alias gcc='colourify gcc'
alias g++='colourify g++'
alias as='colourify as'
alias gas='colourify gas'
alias ld='colourify ld'
alias netstat='colourify netstat'
alias ping='colourify ping'
alias traceroute='colourify /usr/sbin/traceroute'

alias listening="sudo lsof -i -n -P | egrep 'LISTEN|UDP \*' | awk '{ print \$1,\$2,\$3,\$8,\$9; }'"

# DOCKER
alias dpsa='docker ps -a'
alias dsa='docker stop $(docker ps -a -q)'
alias drma='docker rm $(docker ps -a -q)'
alias drmi='docker images | grep "<none>" | awk "{print $3}" | xargs docker rmi'

# KUBERNETES
alias k='/opt/homebrew-cask/Caskroom/google-cloud-sdk/latest/google-cloud-sdk/bin/kubectl'

